.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.page-item {
    list-style: none;
}
.page-link {
    height: 36px;
    padding: 5px 16px;
    border-radius: 3px;
    margin-right: 15px;
    font-weight: 600;
    font-size: 1.6rem;
    border: 1px solid var(--secondary);
    cursor: pointer;
    transition: all 0.3s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    &:hover {
        background-color: var(--light-background);
    }
}
.active {
    cursor: default;
    color: var(--white);
    transition: all 0.3s linear;
    background-color: var(--secondary);

    &:hover {
        color: var(--white);
        background-color: var(--secondary);
        border: 1px solid transparent;
    }
}
button:disabled {
    .page-link {
        background-color: var(--disabled);
        border: 1px solid transparent;
        cursor: default;

        &:hover {
            background-color: var(--disabled);
        }
    }
}
//  THEME (DARK MODE)
.dark {
    .page-link {
        color: var(--lighter-text);

        &:hover {
            background-color: var(--background);
        }
    }
}

// RESPONSIVE
@media screen and (max-width: 635px) {
    .page-link {
        display: none;
    }
    .active,
    .first,
    .prev,
    .next,
    .last {
        display: flex;
    }
}
@media screen and (max-width: 425px) {
    .page-link {
        padding: 5px 10px;
    }
}
@media screen and (max-width: 375px) {
    .page-link {
        font-size: 1.4rem;
        margin-right: 10px;
    }
}