.wrapper {
    margin-bottom: -20px;
}
.slides {
    // width: 500px;
    padding: 50px 0;
    margin: 0 -40px;
}
.slide {
    width: 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 5px;
    padding: 20px 30px;
    overflow: hidden;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.image {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
    flex-shrink: 0;
    filter: grayscale(100%);
    transition: all 0.3s linear;
}
.content {
    & > p {
        font-size: 2rem;
    }
    & > h6 {
        font-size: 2rem;
        font-style: italic;
        text-align: right;
        text-transform: capitalize;

        &::before {
            content: '— ';
        }
    }
}
// RESPONSIVE
@media screen and (min-width: 1024px) and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
    .slides {
        margin: unset;
    }
    .image {
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 768px) {
    .image {
        width: 400px;
        height: 400px;
    }
}
@media screen and (max-width: 635px) {
    .image {
        width: 300px;
        height: 300px;
    }.content {
        & > p {
            font-size: 1.8rem;
        }

        & > h6 {
            font-size: 1.8rem;
        }
    }
}
@media screen and (max-width: 425px) {
    .slides {
        padding: 10px 0;
    }
    .content {
        & > p {
            font-size: 1.6rem;
        }

        & > h6 {
            font-size: 1.6rem;
        }
    }
}
@media screen and (max-width: 375px) {
    .image {
        width: 200px;
        height: 200px;
    }
}
