.wapper {
}

.collections {
    column-count: 3;
    padding: 10px 0;
    background-color: #f2f2f2;
    grid-gap: 10px;

    div,
    span,
    h6 {
        transition: all 0.25s ease-in-out;
        -webkit-transition: -webkit-transform 0.3s ease-in-out 0s;
    }
}
.item {
    list-style: none;
    position: relative;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;

    img {
        display: block;
        width: 100%;
        height: auto;
        transition: all 0.25s ease-in-out;
        filter: grayscale(100%);
    }
    &:hover img {
        filter: none;
    }
    &:hover .shadow {
        display: flex;
        background: linear-gradient(0deg, rgba(61, 61, 59, 0.7) 0%, rgba(61, 61, 59, 0) 75%);
    }

    &:hover .description {
        transform: translateY(-25px);
        -webkit-transform: translateY(-25px);

        display: flex;
    }
}
.shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: none;
}
.description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--white-color);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    display: none;
    z-index: 3;
    animation: wipeup 0.3s ease-in-out;
    // transform: translateY(0px);
    // -webkit-transform: translateY(0px);
    // transition: all 0.25s ease-in-out;
    // -webkit-transition: -webkit-transform 0.3s ease-in-out 0s;
}
.more {
    font-size: 1.2rem;
    margin-bottom: 5px;

}
.title {
    text-transform: uppercase;
    font-size: 1.6rem;
}
@keyframes wipeup {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-25px);
    }
}
