@import 'normalize.css';

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --2nd-text-color: #939393;
    --hover-color: #a17560;
    --background-color: #3d3d3b;
    --light-background-color: #e6e7e7;
    --3rd-background-color: #f4f4f4;
    --disabled-color: #7e7d7d;

    --default-layout-width: 1450px;
    --default-layout-header-height: 45px;
    --default-layout-padding: 0px 40px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    background-color: transparent;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}
p {
    text-align: justify;
}
// Custom scroll bar
html *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: var(--3rd-background-color);
}
html *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: var(--3rd-background-color);
}
html *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--hover-color);
}
// Custom tippy tooltip
html {
    .tippy-box {
        border-radius: 3px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: var(--white-color);
        background-color: var(--background-color);
        transition: all 0.25s ease-in-out;
        -webkit-transition: -webkit-transform 0.25s ease-in-out;
    }

    .tippy-content {
        padding: 8px 15px;
        letter-spacing: 1px;
    }
}
// Custom MATERIAL UI

// ANIMATION

@keyframes dynamic {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
    }
}
