@import 'normalize.css';

:root {
    --white-color: #fff;
    --text-color: #333;
    --2nd-text-color: #939393;
    --background-color: #3d3d3b;
    --light-background-color:#e6e7e7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    user-select: none;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.25s ease-in-out;

}
li {
    list-style: none;
}