@import 'normalize.css';

:root {
    --primary: #dc2f2f;
    --secondary: #ff894c;
    --disabled: #7e7d7d;
    --white: #fff;
    --black: #000;
    --lighter-text: #efefef;
    --light-text: #bbbbbb;
    --text: #363636;
    --lighter-background: #f4f4f4;
    --light-background: #ededed;
    --background: #3d3d3b;
    --dark-background: #333;
    --darkest-background: #000;

    --default-layout-width: 1450px;
    --default-layout-header-height: 50px;
    --default-layout-padding: 0px 40px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    background-color: transparent;
}

a {
    color: var(--text);
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}
p {
    text-align: justify;
}
// Custom scroll bar

html *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: var(--lighter-background);
}
html *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: var(--lighter-background);
    display: none;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--secondary);
}

// Custom tippy tooltip
html {
    .tippy-box {
        border-radius: 3px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: var(--white);
        background-color: var(--background-color);
        transition: all 0.25s ease-in-out;
        -webkit-transition: -webkit-transform 0.25s ease-in-out;
    }
    .tippy-content {
        padding: 8px 15px;
        letter-spacing: 1px;
    }
}
// Custom MATERIAL UI

// THEME (DARK MODE)
.light {
    transition: all 0.3s ease-in-out;
    color: var(--text);
}
.dark {
    background-color: var(--dark-background);
    color: var(--lighter-text);
    transition: all 0.3s ease-in-out;
}
.dark *::-webkit-scrollbar-track {
    background-color: var(--background);
}
.dark *::-webkit-scrollbar {
    background-color: var(--background);
}

// THEME (DARK MODE)
.dark {
    .tippy-box {
        background-color: var(--dark-background);
        color: var(--text);
    }
}
// ANIMATION

@keyframes dynamic {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
    }
}

// RESPONSIVE
@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1440px) {
    :root {
        --default-layout-padding: 0px 30px;
    }
}
@media screen and (max-width: 1200px) {
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
    :root {
        --default-layout-padding: 0px 20px;
    }
}
@media screen and (max-width: 635px) {
    :root {
        --default-layout-padding: 0px 10px;
    }
}
@media screen and (max-width: 425px) {
}
@media screen and (max-width: 375px) {
    :root {
        --default-layout-padding: 0px 10px;
    }
}
@media screen and (max-width: 320px) {
}
