.wapper {
    padding: 20px 0;
}
.item {
    flex: 1;
    margin-bottom: 40px;

    &:nth-child(2n + 1) {
        margin-right: 40px;
    }

    &:last-child {
        margin-right: unset;
    }
}

// FILTER
.options {
    grid-template-columns: repeat(6, 1fr);
}
// PAGINATION

// RESPONSIVE

@media screen and (max-width: 768px) {
    .options {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media screen and (max-width: 635px) {
    .options {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 425px) {
    .options {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 320px) {
    .options {
        grid-template-columns: repeat(2, 1fr);
    }
}
