.wrapper {
    display: flex;
    overflow: hidden;
}
.container {
    flex: 3;
    background-color: var(--lighter-background);
    height: 100vh;
    overflow-y: overlay;
}
.content {
    // max-width: var(--default-layout-width, 1200px);
    overflow: hidden;
    margin: auto;
    padding: var(--default-layout-padding);
}

// Custom scroll bar
.container::-webkit-scrollbar {
    display: block;
}

// Progress bar
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
}

// RESPONSIVE
@media screen and (max-width: 1024px) {
    .wrapper {
        flex-flow: column wrap;
    }
    .container {
        width: 100%;
        flex: none;
    }
}
@media screen and (max-width: 425px) {
    .container::-webkit-scrollbar {
        display: none;
    }
}
