.wapper {
    font-size: 1.6rem;
    font-family: none;
    display: flex;
    align-items: center;
    transition: all 0.25s ease-in-out;
    border: 1px solid transparent;
    &:hover {
        color: var(--primary);
    }
}
.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: flex;
    text-align: center;


    & > svg {
         width: unset;
    }
}
.title {
    width: 100%;
    display: flex;
    align-items: center;
    // color: var(--light-text);
}
a {
    &:hover {
        // color: var(--primary);
    }
    &:hover .title {
        // color: var(--primary);
    }
}

// BUTTON TYPES

.outline {
    padding: 3px 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        color: var(--primary);
        border-color: currentColor;
    }
}
.text {

    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.primary {
    font-weight: 600;
    border-radius: 4px;
    padding: 2px 10px;
    cursor: pointer;
    background-color: var(--primary);

    &:hover {
        background: var(--white);
    }
    .title {
        // color: var(--white);
    }
}
