// OVERLAY
.container-follow {
    .overlay {
        background: linear-gradient(180deg, rgb(244, 244, 244) 0%, rgba(244, 244, 244, 0) 100%) transparent;
    }
}

// CONTACT
.wrapper {
    --overlay-color: rgba(0, 0, 0, 0.5);
    & > div {
        position: relative;
    }
}

// INTRO
.container-intro {
    padding-top: 50%;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
    background-image: url(../../assets/img/btec4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center 25%;
    box-shadow: 0 0 0 0 #ffffff;

    position: relative;
}
.intro {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: var(--white-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-music {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--overlay-color);
    width: 120px;
    height: 120px;
    background-color: var(--overlay-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    margin: 50px 0;

    &:hover {
        transform: scale(0.9);
    }

    .icon {
        font-size: 6rem;
    }
}
.intro-play {
    display: flex;

    // display: none;
    &::before {
        content: '';
        position: absolute;
        top: -20px;
        left: -20px;
        bottom: -20px;
        right: -20px;
        background: var(--overlay-color);
        border-radius: 50%;
        z-index: -1;
        opacity: 0.4;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.intro-pause {
    display: none;

    &::after {
        position: absolute;
        content: '';
        bottom: -7px;
        top: -7px;
        left: -7px;
        right: -7px;
        background-color: transparent;
        border-radius: 50%;
        border: 4px solid var(--overlay-color);
        margin: 0px;
        opacity: 1;
        transform-origin: center;
        animation: anim 800ms linear infinite;
    }

    &::before {
        position: absolute;
        content: '';
        bottom: -7px;
        top: -7px;
        left: -7px;
        right: -7px;
        background-color: transparent;
        border-radius: 50%;
        border: 4px solid var(--overlay-color);
        margin: 0px;
        opacity: 0.8;
        transform-origin: center;
        animation: anim 800ms linear 400ms infinite;
    }
}
.active .intro-pause {
    display: flex;
}
.active .intro-play {
    display: none;
}
.audio {
    display: none;
}
// ANIMATION

@keyframes anim {
    from {
        margin: 10px;
        opacity: 1;
    }

    to {
        margin: -40px;
        opacity: 0;
    }
}

.intro-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--overlay-color);
    h4 {
        font-size: 7rem;
    }
    p {
        margin-top: 10px;
        font-size: 2rem;
        text-transform: uppercase;
    }
}

// INFORMATION
.container-contact {
    padding-top: 70%;
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: 0 0 0 0 #ffffff;
}

.contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    font-size: 2rem;
}
.contact-infor {
    flex: 4;
    margin-right: 40px;
    & > h6 {
        font-size: 3rem;
        font-weight: 500;
    }
    & > p {
        padding: 10px 0;
    }
}
.contact-about {
    display: flex;
    padding: 20px 0;

    .icon {
        font-size: 7rem;
        color: var(--hover-color);
    }
}
.contact-location,
.contact-me {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    flex: 1;

    & > span {
        font-size: 3rem;
        padding: 20px 0 8px 0;
    }

    & > p {
        font-size: 1.6rem;
        padding: 5px 0;
    }
}
.contact-location {
    margin-right: 40px;
}
.contact-me {
    & > p {
        display: flex;
        align-items: center;
    }
}
.contact-button {
    margin-left: 5px;
}

// Get in touch
.contact-form {
    flex: 5;
    border-radius: 5px;
    padding: 30px 40px;
    color: var(--text-color);
    background-color: var(--white-color);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;

    & > h6 {
        font-size: 5rem;
        font-weight: 500;
    }

    & > p {
        padding: 20px 0;
    }
}

.contact-radio {
    padding: 10px 0;
}
.contact-submit {
    padding: 10px 20px;
    margin-top: 10px;
    color: var(--white-color);
    font-size: 2rem;

    &:hover {
        color: var(--hover-color);
        border: 1px solid var(--hover-color);
    }
}

// follow
.container-follow {
    padding-top: 30%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    background-image: url(../../assets/img/view2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 70% 1%;
    box-shadow: 0 0 0 0 #ffffff;
    // background-attachment: scroll;
}

.follow {
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 2rem;
    text-align: center;
    // background: linear-gradient(0deg, rgb(244, 244, 244) 0%, rgba(244, 244, 244, 0) 100%) transparent;
    & > h6 {
        font-size: 4rem;
        font-weight: 500;
    }

    & > p {
        padding: 0px 0 10px 0;
        text-align: center;
    }
}
.follow-form {
}

.follow-input {
    background-color: var(--white-color);
    border-radius: 5px;
}
.follow-policy {
}
.follow-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
.follow-submit {
    padding: 10px 30px;
    color: var(--white-color);
    font-size: 2rem;

    &:hover {
        color: var(--hover-color);
        border: 1px solid var(--hover-color);
    }
}
.footer {
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);


    h6 {
        font-size: 1.6rem;
        padding: 10px 0;
    }
}