// OVERLAY
.container-follow {
    .overlay {
        background: linear-gradient(180deg, rgb(244, 244, 244) 0%, rgba(244, 244, 244, 0) 100%) transparent;
    }
}

// CONTACT
.wrapper {
    --overlay-color: rgba(0, 0, 0, 0.5);
    & > div {
        position: relative;
    }
}

// INTRO
.container-intro {
    padding-top: 50%;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
    background-image: url(../../assets/img/btec4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center 25%;
    box-shadow: 0 0 0 0 #ffffff;
    position: relative;
}
.intro {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-music {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--overlay-color);
    width: 120px;
    height: 120px;
    background-color: var(--overlay-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    margin: 50px 0;

    &:hover {
        transform: scale(0.9);
    }

    .icon {
        font-size: 6rem;
    }
}
.intro-play {
    display: flex;

    // display: none;
    &::before {
        content: '';
        position: absolute;
        top: -20px;
        left: -20px;
        bottom: -20px;
        right: -20px;
        background: var(--overlay-color);
        border-radius: 50%;
        z-index: -1;
        opacity: 0.4;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.intro-pause {
    display: none;

    &::after {
        position: absolute;
        content: '';
        bottom: -7px;
        top: -7px;
        left: -7px;
        right: -7px;
        background-color: transparent;
        border-radius: 50%;
        border: 4px solid var(--overlay-color);
        margin: 0px;
        opacity: 1;
        transform-origin: center;
        animation: anim 800ms linear infinite;
    }

    &::before {
        position: absolute;
        content: '';
        bottom: -7px;
        top: -7px;
        left: -7px;
        right: -7px;
        background-color: transparent;
        border-radius: 50%;
        border: 4px solid var(--overlay-color);
        margin: 0px;
        opacity: 0.8;
        transform-origin: center;
        animation: anim 800ms linear 400ms infinite;
    }
}
.active .intro-pause {
    display: flex;
}
.active .intro-play {
    display: none;
}
.audio {
    display: none;
}
// ANIMATION

@keyframes anim {
    from {
        margin: 10px;
        opacity: 1;
    }

    to {
        margin: -40px;
        opacity: 0;
    }
}

.intro-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--overlay-color);
    h4 {
        font-size: 7rem;
    }
    p {
        margin-top: 10px;
        font-size: 2rem;
        text-transform: uppercase;
    }
}

// INFORMATION
.container-contact {
    padding-top: 70%;
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: 0 0 0 0 #ffffff;
}

.contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: var(--text);
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    font-size: 2rem;
}
.contact-infor {
    flex: 4;
    margin-right: 40px;
    & > h6 {
        font-size: 3rem;
        font-weight: 500;
    }
    & > p {
        padding: 10px 0;
    }
}
.contact-about {
    display: flex;
    padding: 20px 0;

    .icon {
        font-size: 7rem;
        color: var(--primary);
    }
}
.contact-location,
.contact-me {
    display: flex;
    flex-flow: column wrap;
    flex: 1;

    & > span {
        font-size: 3rem;
        padding: 20px 0 8px 0;
    }

    & > p {
        font-size: 1.6rem;
        padding: 5px 0;
    }
}
.contact-location {
    margin-right: 40px;
}
.contact-me {
    & > p {
        display: flex;
        align-items: center;
    }
}
.contact-button {
    margin-left: 5px;
}

// Get in touch
.contact-form {
    flex: 5;
    border-radius: 5px;
    padding: 30px 40px;
    color: var(--text);
    background-color: var(--white);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;

    & > h6 {
        font-size: 5rem;
        font-weight: 500;
    }

    & > p {
        padding: 20px 0;
    }
}

.contact-radio {
    padding: 10px 0;
}
.contact-submit {
    padding: 10px 20px;
    margin-top: 10px;
    color: var(--white);
    font-size: 2rem;

    &:hover {
        color: var(--primary);
        border: 1px solid var(--primary);
    }
}

// follow
.container-follow {
    padding-top: 40%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    background-image: url(../../assets/img/view2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 70% 1%;
    box-shadow: 0 0 0 0 #ffffff;
    // background-attachment: scroll;
}

.follow {
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 2rem;
    text-align: center;
    // background: linear-gradient(0deg, rgb(244, 244, 244) 0%, rgba(244, 244, 244, 0) 100%) transparent;
    & > h6 {
        font-size: 4rem;
        font-weight: 500;
    }

    & > p {
        padding: 0px 0 10px 0;
        text-align: center;
    }
}
.follow-form {
}

.follow-input {
    background-color: var(--white);
    border-radius: 5px;
}
.follow-policy {
}
.follow-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.follow-submit {
    padding: 10px 30px;
    color: var(--white);
    font-size: 2rem;

    &:hover {
        color: var(--primary);
        border: 1px solid var(--primary);
    }
}
.footer {
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);

    h6 {
        font-size: 1.6rem;
        padding: 10px 0;
    }
}
// THEME (DARK MODE)
.dark {
    background-color: var(--background);
    --overlay-color: rgba(255, 255, 255, 0.8);

    .overlay {
        background: linear-gradient(180deg, rgb(61, 61, 59) 0%, rgba(61, 61, 59, 0) 100%) transparent;
    }

    .overlay-theme {
        background: linear-gradient(0deg, rgb(61, 61, 59) 0%, rgba(61, 61, 59, 0) 100%) transparent;
    }
    .footer,
    .intro,
    .follow,
    .contact {
        color: var(--lighter-text);
    }
    .intro-music {
        .icon {
            color: var(--text);
        }
    }
    .contact-button {
        & > span {
            color: var(--lighter-text);
            transition: all 0.3s linear;
            &:hover {
                color: var(--primary);
            }
        }
    }
}
// RESPONSIVE
@media screen and (max-width: 1600px) {
    .intro-title {
        & > h4 {
            font-size: 5.5rem;
        }
    }
    .contact-form {
        & > h6 {
            font-size: 4rem;
        }
    }
    .intro-music {
        margin: 20px 0;
    }
    .follow {
        & > h6 {
            font-size: 3.6rem;
        }
    }
    .contact-infor {
        margin-right: 20px;
    }
    .contact-location {
        margin-right: unset;
        margin-bottom: 20px;
    }
    .contact-about {
        flex-flow: column wrap;
    }
}

@media screen and (max-width: 1440px) {
    .intro {
        top: 70%;
    }
    .container-contact {
        padding-top: 100%;
    }
}
@media screen and (max-width: 1200px) {
    .container-intro {
        padding-top: 70%;
    }
    .intro {
        top: 70%;
    }
    .intro-title {
        & > h4 {
            font-size: 4.5rem;
        }
    }
    .intro-music {
        width: 100px;
        height: 100px;
    }
    .contact {
        flex-direction: column;
    }
    .follow {
        top: 50%;
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;

        & > h6 {
            font-size: 3.5rem;
        }
    }
    .contact-infor {
        flex: unset;
        margin-right: unset;
        padding: 30px 0px 10px 0;
    }
    .contact-form {
        flex: unset;
        width: 100%;
    }
    .container-contact {
        padding-top: 160%;
    }
    .container-follow {
        padding-top: 70%;
    }
    .contact-about {
        flex-flow: row;
    }
    .contact-location {
        margin-bottom: unset;
    }
}
@media screen and (max-width: 1024px) {
    .container-contact {
        padding-top: 150%;
    }
    .container-follow {
        padding-top: 60%;
    }
    .contact {
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 768px) {
    .contact-about {
        padding: 10px 0;
        .icon {
            font-size: 5rem;
        }
    }
    .contact-location,
    .contact-me {
        & > span {
            font-size: 2rem;
        }
    }
    .container-follow {
        padding-top: 70%;
    }
    .follow {
        & > h6 {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }

        & > p {
            font-size: 1.8rem;
        }
    }
    .container-contact {
        padding-top: 180%;
    }
    .follow-form {
        font-size: 1.8rem;
    }
    .contact-form {
        padding: 10px 20px 20px 20px;

        & > h6 {
            font-size: 2.5rem;
        }
        & > p {
            padding: 10px 0;
            font-size: 1.6rem;
        }
    }
}
@media screen and (max-width: 635px) {
    .intro-title {
        & > h4 {
            font-size: 3rem;
        }

        & > p {
            margin-top: unset;
            font-size: 1.6rem;
        }
    }
    .contact-about {
        flex-direction: column;
    }
    .container-contact {
        padding-top: 200%;
    }
    .intro-music {
        width: 60px;
        height: 60px;

        .icon {
            font-size: 3.5rem;
        }
    }
    .container-contact {
        padding-top: 300%;
    }
    .container-follow {
        padding-top: 110%;
    }
    .contact-location {
        margin-bottom: 10px;
        & > span {
            padding: 5px 0;
        }
    }
    .contact-infor {
        & > h6 {
            font-size: 2rem;
        }
        & > p {
            font-size: 1.6rem;
            padding: unset;
        }
    }
    .follow-form {
        font-size: 1.6rem;
    }
    .follow {
        padding: 20px;
    }
}
@media screen and (max-width: 425px) {
    .container-contact {
        padding-top: 330%;
    }
    .container-follow {
        padding-top: 120%;
    }
    .follow {
        padding: 10px;
    }
}
@media screen and (max-width: 375px) {
    .container-contact {
        padding-top: 390%;
    }
    .container-follow {
        padding-top: 150%;
    }
}
@media screen and (max-width: 320px) {
    .container-contact {
        padding-top: 450%;
    }
    .container-follow {
        padding-top: 150%;
    }
    .intro {
        top: 80%;
    }
}
