.home {
    margin-top: 10px;
}
.container {
    padding: 40px 0;
    border-bottom: 1px solid var(--light-background-color);

    & > h1 {
        font-size: 4.6rem;
        text-align: justify;
    }
    & > h4 {
        text-transform: uppercase;
        font-size: 3.6rem;
    }
    & > h6 {
        font-size: 2rem;
        font-weight: 500;
        padding: 20px 0;
    }
}
// INTRODUCE
.intro {
    display: flex;
    padding: 10px 0;
}
.about {
    margin-right: 40px;
    flex: 3;
    p {
        font-size: 2.1rem;
        margin-bottom: 20px;
    }
}

.infor {
    width: 100%;
    flex: 2;
    .item {
        font-size: 1.6rem;
    }
}

.name {
    font-size: 2rem;
    padding: 10px 0;
}

// SKILLS
.skills {
}

// STATUS
.status {
    background-color: #28353e;
    background-image: url(../../assets/img/view2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 -40px;
    padding-top: 350px;
    position: relative;

    .overlay {
        background: rgba(0, 0, 0, 0.8);
    }

    .status-icon {
        font-size: 7rem;
        color: var(--hover-color);
    }
}

.status-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    justify-content: space-around;
    width: 100%;

    color: var(--white-color);
}
.status-item {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    & > span {
        padding: 6px 0;
        font-size: 4rem;
    }

    & > h6 {
        font-size: 2rem;
        text-transform: capitalize;
    }
}

// portfolio
.portfolio {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


// Education
.education {
    ul {
        margin-left: 20px;
    }
    li {
        padding: 5px 0;
    }

    h6 {
        font-size: 1.8rem;
    }
}
