.home {
    margin-top: 10px;
}
.container {
    padding: 20px 0;
    border-bottom: 1px solid var(--light-background-color);

    & > h1 {
        font-size: 4.6rem;
        text-align: justify;
    }
    & > h4 {
        font-size: 3.6rem;
    }
    & > h6 {
        font-size: 2rem;
        font-weight: 500;
        padding: 20px 0;
    }
}
// INTRODUCE
.intro {
    display: flex;
    padding: 10px 0;
}
.about {
    margin-right: 40px;
    flex: 3;
    p {
        font-size: 2.1rem;
        margin-bottom: 20px;
    }
}

.infor {
    width: 100%;
    flex: 2;
    .item {
        font-size: 1.6rem;
    }
}

.name {
    font-size: 2rem;
    padding: 10px 0;
}

// SKILLS

.skills {
    display: flex;
    font-size: 1.8rem;
    ul {
        flex: 1;
        margin-left: 20px;
    }
    li {
        padding: 5px 0;
    }
}

// Education
.education {
    ul {
        margin-left: 20px;
    }
    li {
        padding: 5px 0;
    }

    h6 {
        font-size: 1.8rem;
    }
}
