.home {
    padding-top: 10px;
}
.container {
    padding: 40px 0;
    border-bottom: 1px solid var(--light-background);

    & > h1 {
        font-size: 4.5rem;
        text-align: justify;
    }

    &:first-child {
        padding-top: unset;
    }
    &:nth-child(3) {
        border-color: transparent;
    }
}
// INTRODUCE
.intro {
    display: flex;
    padding: 10px 0;
}
.about {
    margin-right: 40px;
    flex: 3;
    p {
        text-indent: 30px;
        font-size: 2.1rem;
        margin-bottom: 20px;
    }
}

.infor {
    width: 100%;
    flex: 2;
    max-height: 400px;
    overflow: unset;
    border-radius: 5px;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;

    & > img {
        border-radius: 5px;
        position: absolute;
        z-index: 2;
    }
    &::before {
        border-radius: 5px;
        border: 6px solid var(--secondary);
        display: inline-block;
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        transform: translate3d(30px, 30px, -30px);
    }
}

.name {
    font-size: 2rem;
    padding: 10px 0;
}

// SKILLS
.skills {
}

// Education
.education {
    ul {
        margin-left: 20px;
    }
    li {
        padding: 5px 0;
    }

    h6 {
        font-size: 1.8rem;
    }
}

// RESPONSIVE

@media screen and (max-width: 1600px) {
    .container {
        padding: 30px 0;
    }
}
@media screen and (max-width: 1440px) {
    .container {
        padding: 20px 0;
    }
}
@media screen and (max-width: 1200px) {
    .about {
        flex: unset;
        margin: unset;
        & > p {
            text-indent: 20px;
            font-size: 2rem;
            margin-bottom: 10px;
        }
    }
    .intro {
        flex-flow: column wrap;
        align-items: center;
    }
    .infor {
        flex: unset;
        margin-right: 30px;
        max-height: unset;
        height: 100%;
        width: 95%;
        & > img {
            position: inherit;
        }
    }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .container {
        padding: 20px 0;

        & > h1 {
            font-size: 3.5rem;
        }
    }
}
@media screen and (max-width: 1024px) {
    .container {
        padding: 20px 0;

        & > h1 {
            font-size: 3.5rem;
        }
    }
}
@media screen and (max-width: 635px) {
    .container {
        padding: 10px;

        & > h1 {
            font-size: 3rem;
            line-height: 3.5rem;
        }
    }
    .intro {
        margin-right: 6px;
    }
    .infor::before {
        transform: translate3d(20px, 20px, -20px);
    }
}
@media screen and (max-width: 425px) {
    .container {
        padding: 10px 0;

        & > h1 {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }
    .about {
        & > p {
            text-indent: 10px;
            font-size: 1.6rem;
        }
    }
}
