// EXPERIENCE
.wrapper {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 34.5%;
        width: 1px;
        height: 100%;
        background-color: var(--light-background);
    }
}
.period {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    &::before {
        content: '';
        position: absolute;
        opacity: 0.8;
        margin-top: 29px;
        left: 34%;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--white);
        border: 1px solid var(--secondary);
    }

    &::after {
        content: '';
        position: absolute;
        margin-top: 35px;
        left: 445px;
        width: 25px;
        height: 1px;
        background-color: var(--light-background);
    }
}

.work {
    display: flex;
    flex: 1;
    flex-flow: column;
    align-items: flex-end;
    margin-right: 50px;
}
.title {
    font-size: 2.5rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    color: var(--secondary);
}
.time {
    font-size: 1.8rem;
    color: var(--text);
    padding: 10px 0;
}
.infor {
    margin-left: 50px;
    color: var(--text);
    opacity: 0.8;
    font-weight: 500;
    display: flex;
    flex: 2;
    flex-flow: column;
}
.job {
    font-weight: 500;
    font-size: 2.5rem;
}
.description {
    font-size: 1.8rem;
    padding: 10px 0;
}
.details {
    font-size: 1.6rem;
    margin-left: 30px;
    li {
        padding: 5px 0;
    }
}
.dark {
    .infor {
        color: var(--lighter-text);
    }
    .time {
        color: var(--lighter-text);
    }
}
// RESPONSIVE
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .wrapper::before {
        left: 10px;
    }
    .period {
        flex-flow: column wrap;
        margin-left: 70px;
        &::before {
            left: 3px;
        }
        &::after {
            left: 25px;
        }
    }
    .work {
        align-items: unset;
    }
    .infor {
        margin: unset;
    }
}
@media screen and (max-width: 635px) {
    .wrapper::before {
        left: 10px;
    }
    .period {
        flex-flow: column wrap;
        margin-left: 70px;
        &::before {
            left: 3px;
        }
        &::after {
            left: 25px;
        }
    }
    .work {
        align-items: unset;
    }
    .infor {
        margin: unset;
    }
}
