.item {
    padding: 0 0px 5px 0;
    border-radius: 5px;
    font-size: 1.6rem;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.video {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}
.content {
    padding: 10px 20px 20px 20px;
}
.title {
    font-size: 2.5rem;
    padding: 5px 0;
    font-weight: 900;

    :hover {
        color: var(--hover-color);
    }
}
.infor {
    display: flex;
    align-items: center;
    padding: 5px 0;

    span {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    h6 {
        font-size: 1.6rem;
        margin-left: 4px;
    }
    .icon {
        font-size: 2rem;
    }
}
.subtitle {
    padding: 5px 0;
    font-size: 1.6rem;
}
.read-more {
    padding: 10px 15px;
    margin-top: 5px;
    background-color: var(--hover-color);
    color: var(--white-color);
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    &:hover {
        color: var(--hover-color);
        background-color: var(--3rd-background-color);
        border: 1px solid var(--hover-color);
    }
}
