// portfolio
.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px 0;
}
.item {
    border-radius: 5px;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover .title {
        top: -15px;
    }
    &:hover .category {
        top: -20px;
    }

    &:hover .overlay {
        opacity: 1;
    }

    &:hover .more {
        opacity: 1;
    }
    &:hover .image {
        filter: none;
    }
}
.link {
    display: block;
    width: 100%;
    height: 300px;
    position: relative;
    transform: skewX(-3deg) skewY(0deg) rotate(-2deg);
    border-radius: 2px solid var(--black);
    .overlay {
        background: rgba(51, 51, 51, 0.6);
        border-radius: 5px;
        opacity: 0;
        z-index: 5;
        transition: all 0.2s linear;
    }
    &::before {
        content: '';
        height: 30px;
        position: absolute;
        bottom: 5px;
        right: 10px;
        width: 70%;
        max-width: 500px;
        z-index: 1;
        border-radius: 5px;
        box-shadow: 0 15px 9px rgb(0 0 0 / 40%);
    }
}
.image {
    filter: grayscale(100%);
    height: 100%;
    position: absolute;
    z-index: 3;
}
.infor {
    text-align: center;
    position: relative;
    padding: 10px 0;
}
.title {
    transform: skewX(4deg) skewY(0deg) rotate(2deg);
    position: relative;
    height: 60px;
    z-index: 9;
    border-radius: 5px;
    top: 0;
    transition: all 0.2s linear;

    & > h6 {
        width: 100%;
        height: 60px;
        font-size: 3rem;
        text-transform: capitalize;
        padding: 10px 0;
        background-color: var(--light-background);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 3;
    }

    &::before {
        content: '';
        height: 30px;
        position: absolute;
        bottom: 0px;
        right: 10px;
        width: 70%;
        max-width: 500px;
        z-index: 1;
        border-radius: 5px;
        box-shadow: 0 15px 9px rgb(0 0 0 / 40%);
    }
}
.category {
    transform: skewX(-8deg) skewY(0deg) rotate(-2deg);
    position: relative;
    top: 8px;
    right: -15px;
    height: 55px;
    z-index: 7;
    transition: all 0.2s linear;

    & > p {
        font-size: 2rem;
        font-weight: 600;
        padding: 10px 0;
        width: 100%;
        height: 55px;
        text-transform: capitalize;
        background-color: #479683;
        border-radius: 5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &::after {
        content: '';
        height: 30px;
        position: absolute;
        bottom: 3px;
        right: 5px;
        width: 70%;
        max-width: 500px;
        z-index: 1;
        box-shadow: 0 15px 9px rgb(0 0 0 / 40%);
    }
}

.more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 5;
    transition: all 0.3s ease-in-out;

    .icon {
        font-size: 9rem;
        color: var(--white);
    }
}

// RESPONSIVE
@media screen and (max-width: 1600px) {
    .portfolio {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .category {
        right: -5px;
    }
}
@media screen and (max-width: 635px) {
    .portfolio {
        grid-template-columns: repeat(1, 1fr);
    }
}
