.footer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    & > h3 {
        font-size: 1.6rem;
        color: var(--text);
    }
}

.dark {
    & > h3 {
        color: var(--light-text);
    }
}
