.wapper {
    color: var(--black);
    height: var(--default-layout-header-height);
    background-color: var(--lighter-background);
    border-bottom: 1px solid var(--light-background);
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
    position: sticky;
    top: 0;
    z-index: 9;
}
.header {
    // max-width: var(--default-layout-width, 1200px);
    height: var(--default-layout-header-height, 50px);
    padding: var(--default-layout-padding);

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.path {
    font-size: 1.5rem;
}
.infor {
    display: flex;

    .login {
        color: var(--white);
        border: 1px solid var(--primary);
        &:hover {
            color: var(--primary);
        }
    }
    .register {
        color: var(--primary);
    }
}
.item {
    margin-left: 10px;
    font-weight: 600;
    color: var(--text);
    .icon {
        font-size: 2rem;
        color: var(--primary);
    }
    .login-icon {
        color: var(--white);
    }
    &:hover .login-icon {
        color: var(--primary);
    }
    .avt {
        width: 25px;
        height: 25px;
    }
}
.account {
    padding: 3px 8px;

    span {
        color: var(--primary);
    }
}
.language {
    padding: 5px 10px;
    span {
        color: var(--primary);
    }
}
// THEME (DARK MODE)
.dark {
    background-color: var(--dark-background);
    .item {
        color: var(--lighter-text);
    }
    .language {
        span {
            color: var(--lighter-text);
        }
    }
    .language,
    .register {
        &:hover {
            border-color: var(--primary);
        }
    }
}
// MENU ON TABLET & MOBILE
.menu {
    display: none;
}
.menu-icon {
    backface-visibility: hidden;
    // position: absolute;
    // left: 0;
    border-top: 3px solid #fff;
    width: 100%;
    transition: 0.55s;
}
.icon-top-click {
    transform: rotate(45deg);
    transition: 0.55s 0.5s;
}
.icon-mid-click {
    opacity: 0;
}
.icon-bot-click {
    transform: rotate(-405deg);
    transition: 0.55s 0.5s;
}
.show-hide-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    border-right: 1px solid var(--white);
    border-left: 1px solid var(--white);

    .icon {
        font-size: 5rem;

        display: none;
    }
    .active {
        display: block;
        cursor: pointer;
        animation: dynamic 0.3s infinite ease-in-out alternate;
    }
}

@keyframes dynamic {
    0% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(2px);
    }
}

// RESPONSIVE
@media screen and (max-width: 1600px) {
    .address {
        display: none;
    }
}
@media screen and (max-width: 1440px) {
    .breadcrumb {
        display: none;
    }
    .menu {
        display: block;
    }
}
@media screen and (max-width: 1240px) {
    .email {
        display: none;
    }
}
