.wapper {
    color: var(--black-color);
    height: var(--default-layout-header-height);
    background-color: var(--3rd-background-color);
    border-bottom: 1px solid var(--light-background-color);
    position: sticky;
    top: 0;
    z-index: 9;
}
.header {
    // max-width: var(--default-layout-width, 1200px);
    height: var(--default-layout-header-height, 50px);
    padding: var( --default-layout-padding);

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.path {
    font-size: 1.5rem;
}
.infor {
    display: flex;
}
.item {
    margin-left: 20px;
    color: var(--2nd-text-color);
    .icon {
        font-size: 2rem;
        color: var(--hover-color);
    }
    .login {
        color: var(--white-color);
    }
    &:hover .login {
        color: var(--hover-color);
    }
    .avt {
        width: 25px;
        height: 25px;
    }
}
.account {
    padding: 3px 8px;

    span {
        color: var(--hover-color);
    }
}
.language {
    span {
        color: var(--hover-color);
    }
}
