.wapper {
    color: var(--black);
    height: var(--default-layout-header-height);
    background-color: var(--lighter-background);
    border-bottom: 1px solid var(--light-background);
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
    position: sticky;
    top: 0;
    z-index: 9;
}
.header {
    // max-width: var(--default-layout-width, 1200px);
    height: var(--default-layout-header-height, 50px);
    padding: var(--default-layout-padding);

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.path {
    font-size: 1.5rem;
}
.infor {
    display: flex;

    .login {
        color: var(--white);
        border: 1px solid var(--primary);
        &:hover {
            color: var(--primary);
        }
    }
    .register {
        color: var(--primary);
    }
}
.item {
    margin-left: 10px;
    font-weight: 600;
    color: var(--text);
    .icon {
        font-size: 2rem;
        color: var(--primary);
    }
    .login-icon {
        color: var(--white);
    }
    &:hover .login-icon {
        color: var(--primary);
    }
    .avt {
        width: 25px;
        height: 25px;
    }
}
.account {
    padding: 3px 8px;
    font-weight: 700;
    span {
        color: var(--primary);
    }
}
.language {
    padding: 5px 10px;
    span {
        color: var(--primary);
    }
}
.navbar {
    display: flex;
    align-items: center;
    height: 90%;
}

// THEME (DARK MODE)
.dark {
    background-color: var(--dark-background);
    .item {
        color: var(--lighter-text);
    }
    .language {
        span {
            color: var(--primary);
        }
    }
    .account,
    .language,
    .register {
        &:hover {
            border-color: var(--primary);
        }
    }
}
// RESPONSIVE
@media screen and (max-width: 1600px) {
    .address {
        display: none;
    }
}

@media screen and (max-width: 1240px) {
    .email {
        display: none;
    }
}
