// SEARCH BAR

.search {
    --search-width: 400px;
    font-size: 2rem;
    color: rgba(27, 28, 34, 0.34);
    height: 100%;
    position: relative;
    // overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 50px;
        width: 1px;
        height: 70%;
        background-color: var(--light-background);
        z-index: 2;
    }

    .clear,
    .loading {
        font-size: 1.4rem;
        color: var(--background-color);
        position: absolute;
        right: 70px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    .loading {
        animation: spinner 0.8s linear infinite;
        z-index: 3;
    }
}
.search-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: var(--light-background);

    &:hover {
        color: var(--primary);
        background-color: var(--lighter-background);
    }

    .search-icon {
        font-size: 3rem;
    }
}
.searchbar {
    padding-left: 15px;
    background-color: var(--white);
    border-radius: 5px;
    height: 45px;
    width: var(--search-width);
    display: flex;
    border: 1px solid transparent;
    position: relative;
    input {
        font-size: 1.6rem;
        background-color: transparent;
        height: 100%;
        flex: 1;
        padding-right: 40px;
        caret-color: var(--primary);

        &:not(:placeholder-shown) ~ .search-btn {
            color: var(--primary);
        }
    }

    &:focus-within {
        border: 1px solid var(--background-color);
    }
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

// SEARCH RESULT

.search-result {
    width: var(--search-width);
    max-height: 216.5px;
    overflow-y: auto;
    border-radius: 5px;
    .search-wrapper {
        padding: unset;
        overflow: hidden;
    }

    h6 {
        font-size: 1.6rem;
        padding: 10px 14px;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        text-transform: capitalize;
        // height: 22px;
        // overflow: hidden;
        // line-height: 1.8rem;
        // display: block;
        // display: -webkit-box;
        // -webkit-box-orient: vertical;
        // -webkit-line-clamp: 1;

        &:hover {
            background-color: var(--white);
            color: var(--primary);
        }
    }
}
