.infor {
    li {
        padding: 4px 0;

        & > span {
            margin-right: 5px;
            font-weight: 600;
        }
    }
}
.item {
    display: flex;
    align-items: center;
    
    .about {
        font-size: 1.8rem;
        color: var(--light-text);
        height: 22px;
        overflow: hidden;
        line-height: 1.8rem;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
}
