// THEME (DARK MODE)

// SIDE BAR
.sidebar {
    flex: 1;
    display: flex;
    height: 100vh;
    max-width: 400px;
    font-size: 1.8rem;
    color: var(--light-text);
    background-color: var(--light-background);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    position: relative;

    // THEME (DARK MODE)
    .dark {
        background-color: var(--dark-background);
    }
}

//  ABOUT ME
.about {
    flex: 4;
    padding: 15px 10px;
    background-color: var(--background);
    overflow-y: auto;
}
.about::-webkit-scrollbar {
    display: none;
}
//  DOWNLOAD CV
.content {
    .download-cv {
        margin: 20px 0;
        padding: 12px 20px;
        width: 100%;
        max-width: 300px;
        text-transform: uppercase;
        text-align: center;
        color: var(--lighter-text);
    }
}
.download-cv {
    display: flex;
    justify-content: center;

    span:last-child {
        display: block;
        width: unset;
        font-weight: bolder;
    }
    .icon-cv {
        font-size: 2.5rem;
    }
}

// Description
.name,
.job {
    color: var(--white);
}
.name {
    font-size: 3rem;
    font-weight: 800;
    padding: 10px 0 0 0;
}
.job {
    font-size: 2rem;
    padding: 5px 0 10px 0;
}
.description {
}
// SOCIALS

.socials {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    .icon {
        width: 20px;
        height: 20px;
    }
}
.link {
    color: var(--light-text);
    display: flex;
    padding: 8px;

    &:hover {
        border-radius: 50%;
        background-color: var(--light-background);

        & > span {
            color: var(--secondary);
        }
    }
}
// nav bar
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-menu {
    .icon {
        margin-bottom: 10px;
        font-size: 3.5rem;
    }
}
// SHOW / HIDE PROFILE

.show-hide-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    border-right: 1px solid var(--white);
    border-left: 1px solid var(--white);

    .icon {
        font-size: 5rem;

        display: none;
    }
    .active {
        display: block;
        cursor: pointer;
        animation: dynamic 0.3s infinite ease-in-out alternate;
    }
}

@keyframes dynamic {
    0% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(2px);
    }
}
// RESPONSIVE

@media screen and (max-width: 1440px) {
    .navbar {
        display: none;
    }
    .sidebar {
        .overlay-menu {
            display: flex;
        }
    }
    .overlay-menu {
        .menu-icon {
            font-size: 3rem;
            color: var(--secondary);
        }
    }
}
@media screen and (max-width: 1024px) {
    .sidebar {
        flex: none;
        width: 100%;
        height: unset;
        max-width: unset;
    }
    .about {
        display: flex;
    }
    .content {
        margin-left: 20px;
        flex: 1;
    }
    .image {
        // max-width: 320px;
        flex: 1;
    }
}
@media screen and (max-width: 635px) {
    .about {
        flex-direction: column;

        .image {
            overflow: unset;
        }
    }
    .image {
        max-width: unset;
        height: 100%;
        flex: 1;
    }
    .sub-avt {
        padding: 10px 0;
    }
    .content {
        margin-left: unset;
    }
}
